.deleteButton{
    border: none;
    background-color: white;
    
}
.tasksItem{
    width: 100%;
    left: 0;
    display: flex;
    align-items: center;  
    border-bottom: 1px solid #686de0;
}
.tasksItem input{
    width: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.tasksItem p{
    width: 100%;
    text-align:left;
    font-size: 12px;
    height:5px;
}
.tasksItem button{
    width: 30px;
}
.tasksItem button:hover{
   color: red;
}